.RecommendedCategory {
  display: flex;
  flex-direction: row;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  flex-wrap: wrap;
  flex: 1 1 auto;
  margin-left: 100px;
  background-color: white;
  text-align: left;
  line-height: 22px;
  width: 93.2%; }

.RecommendedCategory .ais-Hits-item {
  box-shadow: none;
  width: 314.79px;
  border: none; }

.RecommendedCategory .ais-Hits-item .item {
  display: inline-block;
  vertical-align: -webkit-baseline-middle; }

.RecommendedCategory .ais-Hits-item .item img {
  height: 50px;
  margin-left: -10px; }

.RecommendedCategory .ais-Hits-item h5 {
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  font-weight: 300;
  letter-spacing: 0.3px;
  text-align: left;
  font-size: 17px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, sans-serif;
  color: #484848; }

@media all and (max-width: 800px) {
  .RecommendedCategory {
    margin-left: auto;
    margin-right: 5%; }
  .RecommendedCategory h4 {
    display: block; }
  .RecommendedCategory .ais-Hits-item {
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    margin: auto;
    padding: 5%;
    width: 25%;
    text-align: center;
    display: inline-flex; }
  .RecommendedCategory .ais-Hits-list {
    margin: auto;
    text-align: center; } }

@media all and (max-width: 770px) and (max-height: 1025px) {
  .RecommendedCategory {
    margin-left: auto;
    margin-right: 5%; }
  .RecommendedCategory h4 {
    display: block; }
  .RecommendedCategory .ais-Hits-item {
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    margin: auto;
    padding: 3%;
    width: 25%;
    text-align: center;
    display: inline-flex; }
  .RecommendedCategory .ais-Hits-item .item {
    width: 50%; }
  .RecommendedCategory .ais-Hits-list {
    margin: auto;
    text-align: center; } }

@media all and (max-width: 415px) and (max-height: 825px){
  .RecommendedCategory {
    margin-left: auto;
    margin-right: 5%; }
  .RecommendedCategory h4 {
    display: block; }
  .RecommendedCategory .ais-Hits-item {
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    margin: auto;
    padding: 2%;
    width: 50%;
    text-align: center;
    display: inline-flex; }
  .RecommendedCategory .ais-Hits-item .item {
    width: 88px; }  
  .RecommendedCategory .ais-Hits-list {
    margin: auto;
    text-align: center; } }

@media all and (max-width: 415px) and (max-height: 740px){
  .RecommendedCategory {
    margin-left: auto;
    margin-right: 5%; }
  .RecommendedCategory h4 {
    display: block; }
  .RecommendedCategory .ais-Hits-item {
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    margin: auto;
    padding: 2%;
    width: 50%;
    text-align: center;
    display: inline-flex; }
  .RecommendedCategory .ais-Hits-item .item {
    width: 84px; }  
  .RecommendedCategory .ais-Hits-list {
    margin: auto;
    text-align: center; } }

@media all and (max-width: 400px) {
  .RecommendedCategory .ais-Hits-item {
    width: 50%; }
  .RecommendedCategory .ais-Hits-item .item {
    width: 50%; }
  .RecommendedCategory .ais-Hits-item .item h5 {
    font-size: 95%; } }

@media all and (max-width: 380px) and (max-height: 815px){
  .RecommendedCategory {
    margin-left: auto;
    margin-right: 5%; }
  .RecommendedCategory h4 {
    display: block; }
  .RecommendedCategory .ais-Hits-item {
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    margin: auto;
    width: 50%;
    text-align: center;
    display: inline-flex; }
  .RecommendedCategory .ais-Hits-item .item {
    width: 80px; }
  .RecommendedCategory .ais-Hits-item .item h5 {
    font-size: 100%; }    
  .RecommendedCategory .ais-Hits-list {
    margin: auto;
    text-align: center; } }

@media all and (max-width: 380px) and (max-height: 670px){
  .RecommendedCategory {
    margin-left: auto;
    margin-right: 5%; }
  .RecommendedCategory h4 {
    display: block; }
  .RecommendedCategory .ais-Hits-item {
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    margin: auto;
    width: 50%;
    text-align: center;
    display: inline-flex; }
  .RecommendedCategory .ais-Hits-item .item {
    width: 80px;
    padding: 2%; }
  .RecommendedCategory .ais-Hits-item .item h5 {
    font-size: 100%; }    
  .RecommendedCategory .ais-Hits-list {
    margin: auto;
    text-align: center; } }

@media all and (max-width: 365px) and (max-height: 645px){
  .RecommendedCategory {
    margin-left: auto;
    margin-right: 5%; }
  .RecommendedCategory h4 {
    display: block; }
  .RecommendedCategory .ais-Hits-item {
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    margin: auto;
    width: 50%;
    text-align: center;
    display: inline-flex; }
  .RecommendedCategory .ais-Hits-item .item {
    width: 50%;
    padding: 2%; }
  .RecommendedCategory .ais-Hits-item .item h5 {
    font-size: 100%; }    
  .RecommendedCategory .ais-Hits-list {
    margin: auto;
    text-align: center; } }

@media all and (max-width: 325px) and (max-height: 570px){
  .RecommendedCategory {
    margin-left: auto;
    margin-right: 5%; }
  .RecommendedCategory h4 {
    display: block;
    padding: 10px; }
  .RecommendedCategory .ais-Hits-item {
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    margin: auto;
    width: 50%;
    text-align: center;
    display: inline-flex; }
  .RecommendedCategory .ais-Hits-item .item {
    width: 50%;
    padding: 2%; }
  .RecommendedCategory .ais-Hits-item .item h5 {
    font-size: 90%; }    
  .RecommendedCategory .ais-Hits-list {
    margin: auto;
    text-align: center; } }

.property {
  margin-left: -23px; }
