.Specification {
  background-color: #FFFFFF;
  width: 300px;
  height: 550px;
  line-height: 75px;
  font-size: 15px; }

.Specification .specificationDetailTitle {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 1.25;
  vertical-align: top;
  font-size: 23px; }

.specificationTable {
  width: 300px;
  padding-bottom: 15px;
  line-height: 1.15;
  margin: auto; }

.specificationTable tbody tr td {
  text-align: left;
  padding-left: 40px;
  padding-right: 10px; }

.specificationTable tbody tr .brand,
.specificationTable tbody tr .detail-color,
.specificationTable tbody tr .detail-material,
.specificationTable tbody tr .specification-size,
.specificationTable tbody tr .specification-weight,
.specificationTable tbody tr .price {
  text-align: left;
  padding-left: 10px;
  padding-right: 10px; }

.specificationTable thead tr th {
  padding-left: 40px;
  font-weight: bold;
  padding-top: 10px;
  font-size: 18px;
  padding-bottom: 10px; }

.detailPart th, .specificationPart th {
  background-color: #EBEBEB;
  text-align: left;
  font-size: 14px;
  padding-top: 10px; }
