.download-satuan-button {
	height: 75px;
    width: 100%;
    background-color: #FA5A5F;
    border: none;
    color: white;
    padding: 10px 36px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px;
    margin-left: -5px;
    margin-top: -13px;
}
