.downloadMultipleButton .downloadMultiple-button {
  height: 50px;
  width: 135px;
  background-color: #FFFFFF;
  border: none;
  text-align: center;
  color: black;
  padding: 5% 3%;
  text-decoration: none;
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 13px;
  border-radius: 5px; }
