* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around; } }

@media all and (max-width: 600px) {
  .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0; }
  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  .navigation li:last-of-type a {
    border-bottom: none; } }

.List-item {
  background-color: #EBEBEB;
  display: flex;
  justify-content: center;
  padding-bottom: 25px; }

.List-item button {
  display: flex-inline;
  margin: 5px;
  padding: 3px; }

.list-header {
  background-color: #EBEBEB;
  font-size: 40px;
  font-weight: 1000;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  margin: 0; }

table {
  width: 95%;
  table-layout: fixed;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px; }

thead {
  background-color: #FA5A5F; }

th {
  padding: 20px 15px;
  text-align: center;
  font-weight: 1000;
  font-size: 15px;
  color: #000000;
  text-transform: uppercase; }

td {
  text-align: center;
  vertical-align: middle;
  font-weight: 300;
  font-size: 12px;
  background-color: #FFFFFF;
  padding-bottom: 20px;
  padding-top: 20px; }

td button {
  background-color: #FA5A5F;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block; }

button a {
  background-color: #FA5A5F;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block; }
