.ComparedItem {
  background-color: #FFFFFF;
  text-align: center;
  line-height: 75px;
  font-size: 15px; }

.ComparedItem .ComparedItemTitle {
  color: #FFFFFF;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 1.25;
  background-color: #FA5A5F;
  text-align: center;
  font-size: 20px; }

.ComparedItemTable {
  text-align: center;
  padding-bottom: 15px;
  line-height: 1.6; }

.ComparisonTable .comparison-params {
  padding-left: 10px;
  text-align: left; }

.ComparisonTable .comparison-value {
  text-align: center;
  border-bottom: 1px solid #878787; }

.ComparisonTable {
  padding: 15px; }

.ComparisonTable img {
  width: 100%;
  height: unset; }

@media all and (max-width: 767px) and (max-height: 1023px) {
  .ComparedItem .ComparedItemTitle {
    font-size: 95%; } }

@media all and (max-width: 380px) and (max-height: 670px) {
  .ComparedItem .comparison-value {
    font-size: 90%; } }

@media all and (max-width: 325px) and (max-height: 570px) {
  .ComparedItem .ComparedItemTitle {
    font-size: 95%;
    padding: 20px; }
  .ComparedItem .comparison-value {
    font-size: 80%; } }
