.TableListByCategory .List-item {
  background-color: white;
  margin-left: 5%;
  margin-top: 20%;
  margin-bottom: 5%;
  margin-right: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1 1 auto;
  width: 90%;
  justify-content: center;
  padding-bottom: 25px; }

.TableListByCategory .List-item .button {
  display: -webkit-flex;
  flex-direction: row;
  width: 300px;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 18%;
  margin-right: 20%; }

.TableListByCategory .List-item .item img {
  padding: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.TableListByCategory .List-item .item p {
  padding: 5%;
  padding-left: 10%; }

.TableListByCategory .button button {
  border: 3px solid white;
  padding: 2%; }

.TableListByCategory .button a {
  text-align: center;
  text-decoration: none; }

.TableListByCategory .ais-Hits-item {
  padding: 2%;
  padding-bottom: 0px;
  border-radius: 5%; }

@media all and (min-width: 1023px) and (min-height: 1365px) {
  .TableListByCategory {
    width: 95%; }
  .TableListByCategoryText .item img {
    height: 90px; }
  .TableListByCategory .List-item .button {
    margin-left: 0px;
    width: 200px; } }

@media all and (max-width: 800px) {
  .TableListByCategoryText .item img {
    height: 50px; }
  .TableListByCategoryText {
    width: 100%;
    margin: auto; }
  .TableListByCategory h4 {
    text-align: center; } }

@media all and (max-width: 770px) and (max-height: 1025px) {
  .TableListByCategory {
    width: 95%; }
  .TableListByCategory .QuickView, .TableListByCategory .ViewButton {
    width: 60%;
    margin-right: -2%;
    font-size: 70%;
    line-height: 15px;
    margin-left: 3%; }
  .TableListByCategory .List-item .button {
    margin-left: 0px;
    width: 100px; } }

@media all and (max-width: 767px) {
  .TableListByCategory {
    height: 60%;
    text-align: center;
    font-size: 80%; }
  .TableListByCategory .ais-Hits-item {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    width: 75%; }
  .TableListByCategory div {
    width: 100%;
    margin: auto; }
  .TableListByCategory .QuickView, .TableListByCategory .ViewButton {
    width: 25%;
    margin-right: -2%;
    margin-left: 3%; }
  .TableListByCategory h4 {
    text-align: center; }
  .TableListByCategory .List-item .button {
    margin-left: 0px;
    justify-content: center; } }

@media all and (max-width: 415px) and (max-height: 737px) {
  .TableListByCategory {
    width: 95%; }
  .TableListByCategory .ais-Hits-item {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    margin-right: auto;
    margin-left: 20%;
    width: 75%; }
  .TableListByCategoryText .item img {
    width: 90%;
    height: unset; }
  .TableListByCategory .QuickView, .TableListByCategory .ViewButton {
    width: 25%;
    font-size: 90%;
    line-height: 20px;
    margin-right: -2%;
    margin-left: 3%; }
  .TableListByCategory h4 {
    text-align: center; }
  .TableListByCategory .List-item .button {
    margin-left: 0px;
    width: 90%;
    justify-content: center; } }

@media all and (max-width: 412px) and (max-height: 824px) {
  .TableListByCategory {
    width: 95%; }
  .TableListByCategory .ais-Hits-item {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    margin-right: auto;
    margin-left: 20%;
    width: 75%; }
  .TableListByCategoryText .item img {
    width: 90%;
    height: unset; }
  .TableListByCategory .QuickView, .TableListByCategory .ViewButton {
    width: 25%;
    font-size: 90%;
    line-height: 20px;
    margin-right: -2%;
    margin-left: 3%; }
  .TableListByCategory h4 {
    text-align: center; }
  .TableListByCategory .List-item .button {
    margin-left: 0px;
    width: 90%;
    justify-content: center; } }

@media all and (max-width: 412px) and (max-height: 732px) {
  .TableListByCategory .ais-Hits-item {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    width: 75%; }
  .TableListByCategoryText .item img {
    width: 90%;
    height: unset; }
  .TableListByCategory .QuickView, .TableListByCategory .ViewButton {
    width: 25%;
    margin-right: -2%;
    margin-left: 3%; }
  .TableListByCategory h4 {
    text-align: center; }
  .TableListByCategory .List-item .button {
    margin-left: 0px;
    justify-content: center; } }

@media all and (max-width: 376px) and (max-height: 815px) {
  .TableListByCategory {
    width: 95%; }
  .TableListByCategory .ais-Hits-item {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    margin-right: auto;
    margin-left: 20%;
    width: 75%; }
  .TableListByCategoryText .item img {
    width: 90%;
    height: unset; }
  .TableListByCategory .QuickView, .TableListByCategory .ViewButton {
    width: 25%;
    margin-right: -2%;
    margin-left: 3%; }
  .TableListByCategory h4 {
    text-align: center; }
  .TableListByCategory .List-item .button {
    margin-left: 0px;
    width: 90%;
    justify-content: center; } }

@media all and (max-width: 370px) and (max-height: 650px) {
  .TableListByCategory .ais-Hits-item {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    width: 75%; }
  .TableListByCategory .QuickView, .TableListByCategory .ViewButton {
    width: 25%;
    margin-right: -2%;
    font-size: 80%;
    line-height: 20px;
    margin-left: 3%; }
  .TableListByCategory h4 {
    text-align: center; }
  .TableListByCategory .List-item .button {
    margin-left: 0px;
    justify-content: center; }
  .TableListByCategory .List-item .item img {
    width: 90%;
    height: unset; } }

@media all and (max-width: 321px) {
  .TableListByCategory .ais-Hits-item {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    width: 75%; }
  .TableListByCategoryText .item img {
    width: 90%;
    height: unset; }
  .TableListByCategory .QuickView, .TableListByCategory .ViewButton {
    width: 25%;
    margin-right: -2%;
    margin-left: 3%; }
  .TableListByCategory h4 {
    text-align: center; }
  .TableListByCategory .List-item .button {
    margin-left: 0px;
    justify-content: center; } }
