.description {
  background-color: #FFFFFF;
  width: 800px;
  height: 200px;
  text-align: left;
  line-height: 30px;
  font-size: 15px;
  margin-top: 10px; }

.descriptionText {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 10px; }

.descriptionText i {
  color: #878787; }

.description .descriptionTitle {
  margin-top: 40px;
  background-color: #EBEBEB;
  color: black;
  line-height: 2; }

.description .descriptionTitle h3 {
  margin: 0px 10px 0px 10px;
  font-size: 20px;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px; }

@media all and (max-width: 800px) {
  .description {
    display: none; } }
