.result {
  background-color: white; }

.result .ais-Hits {
  width: 90%; }

.result .ais-Hits-list {
  justify-content: center; }

.result .ais-Hits-item {
  border-radius: 5%; }

.result .notFound {
  min-height: 100%;
  position: relative; }

.result .List-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1 1 auto;
  text-align: center;
  margin-left: 5%;
  margin-top: 3%;
  margin-bottom: 5%;
  margin-right: 5%;
  min-height: stretch;
  padding-bottom: 25px; }

.result .item img {
  height: 120px; }

.result .List-item .button {
  display: -webkit-flex;
  flex-direction: row;
  width: 300px;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 18%;
  margin-right: 20%; }

.result .List-item .item p {
  color: #878787; }

.result .List-item img, .result .List-item .item p, .result .List-item .item h5 {
  text-align: center;
  font-size: 15px; }

.result .List-item .item img {
  padding: 3%;
  width: 90%;
  height: unset;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.result .button button {
  border: 3px solid white;
  padding: 2%; }

.result .button a {
  text-align: center;
  text-decoration: none; }

@media all and (min-width: 1023px) and (min-height: 1365px) {
  .result .List-item .item img {
    height: auto;
    width: 90%; }
  .result .List-item .button {
    margin-left: 0px; } }

@media all and (max-width: 770px) and (max-height: 1025px) {
  .result div {
    width: 100%;
    margin: auto; }
  .result .QuickView, .result .ViewButton {
    width: 60%;
    margin-right: -2%;
    font-size: 70%;
    line-height: 15px;
    margin-left: 3%; }
  .result .List-item .button {
    margin-left: 0px;
    width: 100%; } }

@media all and (max-width: 767px) {
  .result {
    height: 60%;
    text-align: center;
    font-size: 80%; }
  .result .ais-Hits-item {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    width: 75%; }
  .result div {
    width: 100%;
    margin: auto; }
  .result .QuickView, .result .ViewButton {
    width: 25%;
    margin-right: -2%;
    margin-left: 3%; }
  .result h4 {
    text-align: center; }
  .result .List-item .button {
    margin-left: 0px;
    justify-content: center; } }

@media all and (max-width: 415px) and (max-height: 737px) {
  .result {
    height: 60%;
    text-align: center;
    font-size: 80%; }
  .result .ais-Hits-item {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    width: 75%; }
  .result div {
    width: 100%;
    margin: auto; }
  .result .QuickView, .result .ViewButton {
    width: 25%;
    margin-right: -2%;
    margin-left: 3%; }
  .result h4 {
    text-align: center; }
  .result .List-item .button {
    margin-left: 0px;
    justify-content: center; } }

@media all and (max-width: 412px) and (max-height: 824px) {
  .result {
    height: 60%;
    text-align: center;
    font-size: 80%; }
  .result .ais-Hits-item {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    width: 75%; }
  .result div {
    width: 100%;
    margin: auto; }
  .result .QuickView, .result .ViewButton {
    width: 25%;
    margin-right: -2%;
    margin-left: 3%; }
  .result h4 {
    text-align: center; }
  .result .List-item .button {
    margin-left: 0px;
    justify-content: center; } }

@media all and (max-width: 412px) and (max-height: 732px) {
  .result {
    height: 60%;
    text-align: center;
    font-size: 80%; }
  .result .ais-Hits-item {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    width: 75%; }
  .result div {
    width: 100%;
    margin: auto; }
  .result .QuickView, .result .ViewButton {
    width: 25%;
    margin-right: -2%;
    margin-left: 3%; }
  .result h4 {
    text-align: center; }
  .result .List-item .button {
    margin-left: 0px;
    justify-content: center; } }

@media all and (max-width: 376px) and (max-height: 815px) {
  .result {
    height: 60%;
    text-align: center;
    font-size: 80%; }
  .result .ais-Hits-item {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    width: 75%; }
  .result div {
    width: 100%;
    margin: auto; }
  .result .QuickView, .result .ViewButton {
    width: 25%;
    margin-right: -2%;
    margin-left: 3%; }
  .result h4 {
    text-align: center; }
  .result .List-item .button {
    margin-left: 0px;
    justify-content: center; } }

@media all and (max-width: 370px) and (max-height: 650px) {
  .result {
    height: 60%;
    text-align: center; }
  .result .ais-Hits-item {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    width: 75%; }
  .result div {
    width: 100%;
    margin: auto; }
  .result .QuickView, .result .ViewButton {
    width: 25%;
    margin-right: -2%;
    font-size: 80%;
    line-height:20px; 
    margin-left: 3%; }
  .result h4 {
    text-align: center; }
  .result .List-item .button {
    margin-left: 0px;
    justify-content: center; } }

@media all and (max-width: 321px) {
  .result {
    height: 60%;
    text-align: center;
    font-size: 80%; }
  .result .ais-Hits-item {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    width: 75%; }
  .result div {
    width: 100%;
    margin: auto; }
  .result .QuickView, .result .ViewButton {
    width: 25%;
    margin-right: -2%;
    margin-left: 3%; }
  .result h4 {
    text-align: center; }
  .result .List-item .button {
    margin-left: 0px;
    justify-content: center; } }