.compare-button {
  height: 75px;
  width: 100%;
  background-color: #FFFFFF;
  color: #FA5A5F;
  padding: 10px 36px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: -13px;
  border: 1px solid #878787; }

.compare-link {
  font-weight: bold;
  color: #FA5A5F; }
