#search-bar {
  background-color: white;
  text-align: center;
  justify-content: center;
  line-height: 75px;
  font-size: 30px; 
  width: 80%; 
  margin: auto; }

.ais-SearchBox {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
}

input.ais-SearchBox-input {
    width: 82%;
}

.ais-SearchBox__wrapper input, .ais-SearchBox__wrapper input:focus {
    transition: border-color .3s ease-in;
    outline: 0;
}

.ais-SearchBox__wrapper input:focus {
    border-color: #ed5565;
}

.ais-SearchBox__wrapper input::-webkit-input-placeholder, .ais-SearchBox__wrapper input:-moz-placeholder, .ais-SearchBox__wrapper input:-moz-placeholder, .ais-SearchBox__wrapper input:-ms-input-placeholder {
    font-weight: 100;
    color: #999;
}