* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'circular-air'; }

.CategoryList h1 {
  height: 100px;
  text-align: left;
  padding-top: 30px;
  padding-left: 100px; }

@font-face {
  font-family: 'circular';
  src: url("../../../font/CircularStd-Bold.otf"); }

@font-face {
  font-family: 'circular-air';
  src: url("../../../font/Circular_Air-Bold.ttf"); }
