.categoryList {
  background-color: #E5E5E5;
  height: 100%; }

.categoryList .listCategoryText {
  text-align: center;
  padding-top: 30px;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto; }

.categoryList .listCategoryText button {
  width: 60%;
  background-color: #FFFFFF;
  border: none; }

.categoryList .listCategoryText .item {
  padding-left: 50px;
  display: inline-block;
  vertical-align: -webkit-baseline-middle; }

.categoryList .listCategoryText button h2{
  color: black;
  padding-right: 50px; }