.property {
  height: 100%; }

.errorPage {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 1.25;
  vertical-align: top;
  min-height: stretch;
  text-align: left; }

.errorPage b {
  font-size: 20px;
  line-height: 40px; }

.errorPage ul li {
  margin-left: 20px;
  list-style-type: initial; }

.errorPage button {
  background-color: white;
  padding-left: 5px;
  padding-right: 5px;
  border: none; }