.Slider {
  background-color: white;
  width: 800px;
  height: 400px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  display: flex; }

.right-arrow, .left-arrow {
  background: #f9f9f9;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform ease-in .1s;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  font-size: 50px;
  line-height: 30px;
  position: absolute;
  top: 50%;
  z-index: 999;
  color: black;
  font-size: 30px;
  margin-top: 10%;
  margin-left: -5%; }

.slide1 img, .slide2 img, .slide3 img {
  margin-left: -35%;
  margin-right: -35%;
  width: 90%;
  height: 400px; }

.right-arrow {
  position: absolute;
  top: 25%;
  right: 33%;
  z-index: 999;
  color: black;
  font-size: 30px; }

.left-arrow {
  position: absolute;
  top: 25%;
  left: 16%;
  z-index: 999;
  color: black;
  font-size: 30px; }

@media all and (max-width: 1400px) {
  .slide1 img, .slide2 img, .slide3 img {
    margin-left: -40%;
    margin-right: -35%;
    width: 80%;
    height: 80%; }
  .right-arrow, .left-arrow {
    margin-top: -10%;
    margin-left: -2.5%; }
  .right-arrow {
    margin-right: -15%; } }

@media all and (max-width: 800px) {
  .Slider, .sliderImages {
    width: 100%;
    height: 30%;
    background-color: white; }
  .slide1 img, .slide2 img, .slide3 img {
    margin-left: -30%;
    margin-right: -35%;
    width: 130%;
    height: 80%; }
  .right-arrow, .left-arrow {
    position: absolute;
    margin-top: -10%;
    margin-left: -5%; } }

@media all and (max-width: 770px) {
  .Slider, .sliderImages {
    width: 100%;
    height: 30%;
    background-color: white; }
  .slide1 img, .slide2 img, .slide3 img {
    margin-left: -35%;
    margin-right: -35%;
    width: 100%;
    height: 80%; }
  .right-arrow, .left-arrow {
    position: absolute;
    margin-top: -5%;
    margin-left: 5%; }
  .right-arrow {
    margin-right: -12%;
    z-index: 999; } }

@media all and (max-width: 500px) and (max-height: 900px) {
  .Slider, .sliderImages {
    width: 100%;
    height: 30%;
    background-color: white; }
  .slide1 img, .slide2 img, .slide3 img {
    margin-left: -30%;
    margin-right: -35%;
    width: 125%;
    height: 80%; }
  .right-arrow, .left-arrow {
    position: absolute;
    margin-top: 25%;
    margin-left: -5%; }
  .right-arrow {
    margin-right: -25%;
    z-index: 999; } }

@media all and (max-width: 500px) and (max-height: 800px) {
  .Slider, .sliderImages {
    width: 100%;
    height: 30%;
    background-color: white; }
  .slide1 img, .slide2 img, .slide3 img {
    margin-left: -30%;
    margin-right: -35%;
    width: 125%;
    height: 80%; }
  .right-arrow, .left-arrow {
    position: absolute;
    margin-top: -5%;
    margin-left: -5%; }
  .right-arrow {
    margin-right: -25%;
    z-index: 999; } }

@media all and (max-width: 412px) and (max-height: 824px) {
  .Slider, .sliderImages {
    width: 100%;
    height: 30%;
    background-color: white; }
  .slide1 img, .slide2 img, .slide3 img {
    margin-left: -30%;
    margin-right: -35%;
    width: 130%;
    height: 80%; }
  .right-arrow, .left-arrow {
    position: absolute;
    margin-top: -10%;
    margin-left: -5%; } }

@media all and (max-width: 400px) {
  .Slider, .sliderImages {
    width: 100%;
    height: 30%;
    background-color: white; }
  .slide1 img, .slide2 img, .slide3 img {
    margin-left: -30%;
    margin-right: -35%;
    width: 130%;
    height: 80%; }
  .right-arrow, .left-arrow {
    position: absolute;
    margin-top: -20%;
    margin-left: -5%; } }

@media all and (max-width: 380px) and (max-height: 820px) {
  .Slider, .sliderImages {
    width: 100%;
    height: 30%;
    background-color: white; }
  .slide1 img, .slide2 img, .slide3 img {
    margin-left: -30%;
    margin-right: -35%;
    width: 130%;
    height: 80%; }
  .right-arrow, .left-arrow {
    position: absolute;
    margin-top: -10%;
    margin-left: -5%; } }

@media all and (max-width: 380px) and (max-height: 700px) {
  .Slider, .sliderImages {
    width: 100%;
    height: 30%;
    background-color: white; }
  .slide1 img, .slide2 img, .slide3 img {
    margin-left: -30%;
    margin-right: -35%;
    width: 130%;
    height: 80%; }
  .right-arrow, .left-arrow {
    position: absolute;
    margin-top: 2%;
    margin-left: -5%; }
  .right-arrow {
    margin-right: -25%;
    z-index: 999; } }

@media all and (max-width: 350px) and (max-height: 700px) {
  .Slider, .sliderImages {
    width: 100%;
    height: 30%;
    background-color: white; }
  .slide1 img, .slide2 img, .slide3 img {
    margin-left: -30%;
    margin-right: -35%;
    width: 130%;
    height: 80%; }
  .right-arrow, .left-arrow {
    position: absolute;
    margin-top: 5%;
    margin-left: -5%; }
  .right-arrow {
    margin-right: -25%;
    z-index: 999; } }
