* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.Detail .flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  justify-content: center;
  width: 100%; }

.Detail .left-column {
  height: 50%;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-right: 50px;
  margin-bottom: 30px;
  margin-left: 30px; }

.Detail .right-column {
  height: 50%;
  margin-top: 30px;
  margin-left: 10px;
  margin-bottom: 30px; }

.specification {
  background-color: #878787;
  width: 300px;
  height: 610px;
  text-align: center;
  line-height: 75px;
  font-size: 30px; }

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around; }
  .Detail .left-column {
    margin-right: 20%;
    margin-left: 20%; }
  .Detail .right-column {
    margin-right: 20%;
    margin-left: 20%; } }

@media all and (max-width: 600px) {
  .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0; }
  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  .navigation li:last-of-type a {
    border-bottom: none; } }
